*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-padding-top: 40px;
}
/* Avenir Next or Sofia Pro. Other good fonts for medical include Open Sans, Gordita, Avenir, Work Sans, Founders Grotesk, Maison Neue, PT Serif, Nuckle, Roboto Mono, Nunito Sans, Publico and Titillium. */

body{
  min-height: 100vh;
  font-family:'Work Sans',sans-serif;
  
  

  ;
}
nav{
 padding: 10px;
}

nav ul{
  display: flex;
  justify-content: space-around;
  margin: auto;
}

nav ul li{
  list-style-type: none;
  
}
a{
  text-decoration: none;
  color: rgb(238, 238, 238);
  transition: color 0.3s;
}

a:hover,#a-insideCard:hover{
  color:#60b5ff
}

#a-insideCard{
  color: #698aed;
}


main{
  width: 100%;
  min-height: 100vh;

  position: relative;
  

}
.image-bg{
  min-height: 100vh;
  background-image: url("./assets/images/sWbHxO.webp");
  background-position: center;
  background-size: cover;
  
}

.hero_main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 25%;
  padding: 0px 40px;
  background-color: rgba(240, 248, 255, 0.65);
}

main button{
  width: 150px;
  height: 50px;
  background-color: #546a8b;
  color: aliceblue;
  font-weight: bold;
  border: none;
}

main button:hover{
  background-color: #3e4f68;
}


/* CARDS CARE  */
.caring{
  position: relative;
  margin-top: -50px;
}

.card-care{
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.card-care img,.card-services img{
  width: 100px;
  height: auto;
}


/* SPECIALTIES SECTION / DEPARTMENT*/

.specialties{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.specialty{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1/6;
  padding: 20px;
  gap: 20px;
}

.specialty img{
  width: 100px;
}

@media only screen and (max-width:479px){
  .specialty{
    width: 100%;
  }
}

@media only screen and (min-width:480px) and (max-width:767px){
  .specialty{
    width: 50%;
  }
}






input[type="text"], textarea,input[type="email"] {

  background-color : #636d76; 
  border: none;
  padding: 10px;
  color:rgb(249, 252, 255)

}

button[type="submit"]{
  width: 50%;
  margin:auto;
  padding: 10px;
  border: none;
  font-weight: 600;
}

button[type="submit"]:hover{
  background-color: rgb(187, 187, 187);
}

footer{
  background-color: #333537;
  height: 100px;
  display: flex;
justify-content: center;
align-items: center;
  
}

footer p{
  margin: 0;
  color: rgb(224, 232, 239);
  
}