*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
}
nav{
 padding: 10px;
}

nav ul{
  display: flex;
  justify-content: space-around;
  margin: auto;
}

nav ul li{
  list-style-type: none;
  
}
a{
  text-decoration: none;
  color: rgb(238, 238, 238);
  transition: color 0.3s;
}

a:hover,#a-insideCard:hover{
  color:#60b5ff
}

#a-insideCard{
  color: #698aed;
}


main{
  width: 100%;
  min-height: 100vh;

  position: relative;
  

}
.image-bg{
  min-height: 100vh;
  background-image: url("./assets/images/sWbHxO.webp");
  background-position: center;
  background-size: cover;
  
}

.hero_main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 25%;
  padding: 0px 40px;
  background-color: rgba(240, 248, 255, 0.479);
}


/* CARDS CARE  */
.caring{
  position: relative;
  margin-top: -50px;
}

.card-care{
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.card-care img,.card-services img{
  width: 100px;
  height: auto;
}


/* SPECIALTIES SECTION / DEPARTMENT*/

.specialties{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.specialty{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1/6;
  padding: 20px;
  gap: 20px;
}

.specialty img{
  width: 100px;
}

@media only screen and (max-width:479px){
  .specialty{
    width: 100%;
  }
}

@media only screen and (min-width:480px) and (max-width:767px){
  .specialty{
    width: 50%;
  }
}




input[type="text"], textarea,input[type="email"] {

  background-color : #636d76; 
  border: none;
  padding: 10px;
  color:rgb(249, 252, 255)

}

button[type="submit"]{
  width: 50%;
  margin:auto;
  padding: 10px;
  border: none;
}

button[type="submit"]:hover{
  background-color: rgb(215, 204, 204);
}

footer{
  background-color: #333537;
  height: 100px;
  display: flex;
justify-content: center;
align-items: center;
  
}

footer p{
  margin: 0;
  color: rgb(224, 232, 239);
  
}